fastapi==0.111.0
uvicorn[standard]==0.30.1
sqlalchemy==2.0.30
pydantic==2.7.4
email-validator==2.2.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.9
psycopg2-binary==2.9.9
openpyxl==3.1.4
pandas==2.2.2
python-dateutil==2.9.0.post0
reportlab==4.2.0
qrcode[pil]==7.4.2
python-dotenv==1.0.1
slowapi==0.1.9
